*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    border-style: solid;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#topo{
    width: 90%;
    height: 20vh;
    border-style: solid;
    border-color: skyblue;
    border-radius: 50px 20px;
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#topof1{
    width: 30%;
    height: 90%;
    background-color: rgb(87, 128, 170);
    border-radius: 50px;
}
#topof2{
    width: 60%;
    height: 90%;
    background-color: rgb(87, 128, 170);
    border-radius: 50px;
}

#main{
    width: 90%;
    height: 60%;
    background-color: skyblue;
    border-radius: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.mainfilhos{
    width: 40%;
    height: 35%;
    border-style: solid;
    border-color: slategray;
    border-radius: 5px;
}

#mainf1{
    background-color: rgb(122, 159, 196);
}
#mainf2{
    background-color: rgb(112, 145, 177);
}
#mainf3{
    background-color: rgb(112, 145, 177);
}
#mainf4{
    background-color: rgb(122, 159, 196);
}

#footer1{
    width: 45%;
    height: 15%;
    border: red dashed;
    background-color: skyblue;
    
}
#footer2{
    width: 45%;
    height: 15%;
    border: red dashed;
    background-color: skyblue;

}